
/* || Utilities || */

.u-color-tittle-name { color: var(--color-primary-very-dark-blackish-blue); }
.u-color-paragraph-status { color: var(--color-primary-very-dark-grayish-blue) !important; }
.u-photo-no-border { border: none; }